---
import Layout from '../layouts/Layout.astro';
import Nav from './Nav.astro';
import PageLayout from './PageLayout.astro';
import RecipePage from './RecipePage.astro';
const { frontmatter } = Astro.props;

// console.log(Astro.props);
---

<Layout title="hello">
  <div class="container mx-auto">
    <RecipePage {...frontmatter}>
      <slot />
    </RecipePage>
  </div>
</Layout>
